@import "bootstrap-sprockets";
@import "bootstrap";


body{

background: #4ECDC4; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #4ECDC4 , #556270); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #4ECDC4 , #556270); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     }

  .navbar-default {
  background: rgba(250, 250, 250, 0.5);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
  border: none;
  border-radius: 0;
  	.navbar-header {
  		.navbar-brand{
  			color:white;
  			font-size:25px;
  			text-transform: uppercase;
  			font-weight: 700;
  			letter-spacing: -1.5px;
  		}
  	}
  	  		.navbar-link {
  			line-height: 3.5;
  			color: rgb(38, 162, 176);
  		}
  }

#index_foodlogs
	h2{
		margin-bottom:0;
		font-weight: 100;
		a{
			color:white;
		}
	}
	h3{
		margin: .07;
		font-size: 18px;
		span{
			color: rgb(38, 162, 176);
		}
	}

